In [1]:
import time
import pandas as pd
import numpy as np
import warnings
from collections import Counter
warnings.filterwarnings('ignore')
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype
pd.set_option('display.max_columns', None)

There are many insignificant features to our work, like codes, PK, FK and out of context. 
Based on prior works and experience of especialists, will be taken off nonsense features. 
A study was carried out on the evolution and correspondence of these resources in the ENEM and Census
data for the period 2009-2018. See (featuresOrganisaton.xls)

In [2]:
classmate = ['NU_ANO_CENSO','CO_ENTIDADE','ID_TURMA', 'IN_REGULAR', 'TP_ETAPA_ENSINO', 'NU_MATRICULAS']

teacher = ['NU_ANO_CENSO','CO_PESSOA_FISICA', 'CO_ENTIDADE','ID_TURMA','IN_ESPECIALIZACAO','IN_MESTRADO','IN_DOUTORADO',
          'IN_DISC_QUIMICA', 'IN_DISC_FISICA', 'IN_DISC_MATEMATICA', 'IN_DISC_BIOLOGIA', 'IN_DISC_SOCIOLOGIA', 
           'IN_DISC_LINGUA_PORTUGUESA','IN_DISC_LINGUA_INGLES', 'IN_DISC_LINGUA_ESPANHOL', 'IN_DISC_ARTES', 
           'IN_DISC_EDUCACAO_FISICA', 'IN_DISC_HISTORIA','IN_DISC_GEOGRAFIA','IN_DISC_FILOSOFIA','CO_CURSO_1', 
           'IN_LICENCIATURA_1', 'CO_CURSO_2','IN_LICENCIATURA_2','CO_CURSO_3', 'IN_LICENCIATURA_3']
school = ['NU_ANO_CENSO','CO_ENTIDADE', 'CO_MUNICIPIO','CO_UF','TP_DEPENDENCIA','IN_AGUA_INEXISTENTE',
                  'IN_ESGOTO_INEXISTENTE','IN_ENERGIA_INEXISTENTE',
                   'IN_LABORATORIO_INFORMATICA','IN_LABORATORIO_CIENCIAS','IN_SALA_ATENDIMENTO_ESPECIAL',
                   'IN_BIBLIOTECA','IN_SALA_LEITURA','IN_BANHEIRO_DENTRO_PREDIO',
                   'IN_BANHEIRO_PNE','NU_SALAS_UTILIZADAS','NU_EQUIP_TV',
                   'NU_EQUIP_DVD','NU_EQUIP_COPIADORA','NU_EQUIP_IMPRESSORA',
                   'NU_COMP_ALUNO','IN_INTERNET','IN_BANDA_LARGA','NU_FUNCIONARIOS','IN_ALIMENTACAO', 
                   'IN_COMUM_MEDIO_MEDIO','IN_COMUM_MEDIO_INTEGRADO','IN_COMUM_MEDIO_NORMAL', 'IN_SALA_PROFESSOR', 
                   'IN_COZINHA','NU_EQUIP_PARABOLICA','IN_QUADRA_ESPORTES','TP_ATIVIDADE_COMPLEMENTAR']
enem = ['NU_ANO','CO_ESCOLA','TP_ENSINO','NU_IDADE','TP_SEXO','TP_COR_RACA','TP_ST_CONCLUSAO','NU_NOTA_CN',
        'NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO','Q001','Q002','Q005','Q006','TP_DEPENDENCIA_ADM_ESC'
]

In [3]:
#Students of ENEM
E = pd.read_csv('~/data/enem/2017/DADOS/MICRODADOS_ENEM_2017.csv', sep=';', encoding="iso-8859-2", usecols = enem)
E.shape

(6731341, 17)

In [4]:
#How many public schools (not included federal) are in the databases?
mun_est = (E.TP_DEPENDENCIA_ADM_ESC==2) |(E.TP_DEPENDENCIA_ADM_ESC==3)
print('students at public schools:',(mun_est).sum())
print('public schools:',(E.drop_duplicates('CO_ESCOLA')[mun_est]['CO_ESCOLA'].count()))
E.drop('TP_DEPENDENCIA_ADM_ESC', axis=1,inplace=True)
enem.remove('TP_DEPENDENCIA_ADM_ESC')

students at public schools: 1443841
public schools: 24102

In [5]:
#School census data
CE =pd.read_csv("~/data/censo/2017/DADOS/ESCOLAS.CSV", sep='|', encoding="iso-8859-2", usecols = school)

In [6]:
#Teacher census data by Braazilian mesoregion
CD_CO = pd.read_csv("~/data/censo/2017/DADOS/DOCENTES_CO.CSV", sep='|', encoding="iso-8859-2", usecols = teacher)
CD_NE = pd.read_csv("~/data/censo/2017/DADOS/DOCENTES_NORDESTE.CSV", sep='|', encoding="iso-8859-2", usecols = teacher)
CD_N =  pd.read_csv("~/data/censo/2017/DADOS/DOCENTES_NORTE.CSV", sep='|', encoding="iso-8859-2",usecols = teacher)
CD_SE = pd.read_csv("~/data/censo/2017/DADOS/DOCENTES_SUDESTE.CSV", sep='|', encoding="iso-8859-2", usecols = teacher)
CD_S =  pd.read_csv("~/data/censo/2017/DADOS/DOCENTES_SUL.CSV", sep='|', encoding="iso-8859-2", usecols = teacher)

#All teacher census data
CT = pd.concat([CD_CO, CD_NE, CD_N, CD_SE, CD_S])

In [7]:
#ClassMate census data
CM =  pd.read_csv("~/data/censo/2017/DADOS/TURMAS.CSV", sep='|', encoding="iso-8859-2", usecols = classmate)

In [8]:
ENEM = E.copy()
C_SCHOOL = CE.copy()
C_TEACHER = CT.copy()
C_CLASS = CM.copy()

In [9]:
#ordering
ENEM = ENEM[enem]

newNames = [
'CO_ANO',
'CO_ESCOLA',
'TP_ENSINO',
'NU_IDADE',
'TP_SEXO',
'TP_COR_RACA',
'TP_ST_CONCLUSAO',
'NU_NOTA_CN',
'NU_NOTA_CH',
'NU_NOTA_LC',
'NU_NOTA_MT',
'NU_NOTA_REDACAO',
'EDU_PAI',
'EDU_MAE',
'QT_PESSOAS_CASA',
'RENDA_MENSAL'
]

#Rename
ENEM.columns = newNames

print('checking year',ENEM.CO_ANO.unique())
print('checking key',ENEM.CO_ESCOLA.dtypes)

checking year [2017]
checking key float64

In [10]:
C_SCHOOL = C_SCHOOL[school]

newNames = [
'ANO_CENSO',
'CO_ESCOLA',
 'CO_MUNICIPIO',
 'CO_UF',
 'CO_DEPENDENCIA_ADM',
 'IN_AGUA_INEXISTENTE',
 'IN_ESGOTO_INEXISTENTE',
 'IN_ENERGIA_INEXISTENTE',
 'IN_LABORATORIO_INFORMATICA',
 'IN_LABORATORIO_CIENCIAS',
 'IN_SALA_ATENDIMENTO_ESPECIAL',
 'IN_BIBLIOTECA',
 'IN_SALA_LEITURA',
 'IN_BANHEIRO',
 'IN_BANHEIRO_PNE',
 'QT_SALAS_UTILIZADAS',
 'QT_EQUIP_TV',
 'QT_EQUIP_DVD',
 'QT_EQUIP_COPIADORA',
 'QT_EQUIP_IMPRESSORA',
 'QT_COMP_ALUNO',
 'IN_INTERNET',
 'IN_BANDA_LARGA',
 'QT_FUNCIONARIOS',
 'IN_ALIMENTACAO',
 'IN_COMUM_MEDIO_MEDIO',
 'IN_COMUM_MEDIO_INTEGRADO',
 'IN_COMUM_MEDIO_NORMAL', 
 'IN_SALA_PROFESSOR',       
 'IN_COZINHA',
 'IN_EQUIP_PARABOLICA',
 'IN_QUADRA_ESPORTES' ,          
 'IN_ATIV_COMPLEMENTAR'
]

#Rename 
C_SCHOOL.columns =  newNames

print('Checking year of censo',C_SCHOOL.ANO_CENSO.unique())
C_SCHOOL.drop('ANO_CENSO', axis=1, inplace=True)
print('checking key',C_SCHOOL.CO_ESCOLA.dtypes)

Checking year of censo [2017]
checking key int64

In [11]:
C_TEACHER = C_TEACHER[teacher]

# New default column names for all Datasets
newNames = [
'ANO_CENSO',
'CO_PROFESSOR',
'CO_ESCOLA',  
'CO_TURMA',
'IN_ESPECIALIZACAO',
'IN_MESTRADO',
'IN_DOUTORADO',
'ID_QUIMICA',
'ID_FISICA',
'ID_MATEMATICA',
'ID_BIOLOGIA',
'ID_SOCIOLOGIA',
'ID_LINGUA_LITERAT_PORTUGUESA',
'ID_LINGUA_LITERAT_INGLES',
'ID_LINGUA_LITERAT_ESPANHOL',
'ID_ARTES',
'ID_EDUCACAO_FISICA',
'ID_HISTORIA',
'ID_GEOGRAFIA',
'ID_FILOSOFIA',
'CO_AREA_OCDE_1', 
'ID_LICENCIATURA_1', 
'CO_AREA_OCDE_2',
'ID_LICENCIATURA_2',
'CO_AREA_OCDE_3',
'ID_LICENCIATURA_3'
]

C_TEACHER.columns = newNames
print('Checking year of censo',C_TEACHER.ANO_CENSO.unique())
C_TEACHER.drop('ANO_CENSO', axis=1, inplace=True)
print('checking key',C_TEACHER.CO_ESCOLA.dtypes)

Checking year of censo [2017]
checking key int64

In [12]:
C_CLASS = C_CLASS[classmate]

newNames = [
'ANO_CENSO',    
'CO_ESCOLA',
'CO_TURMA',  
'CO_MOD_ENSINO',
'IN_ETAPA_ENSINO',
'QT_MATRICULAS'
]

#Rename 
C_CLASS.columns =  newNames

print('Checking year of censo',C_CLASS.ANO_CENSO.unique())
C_CLASS.drop('ANO_CENSO', axis=1, inplace=True)
print('checking key',C_CLASS.CO_ESCOLA.dtypes)

Checking year of censo [2017]
checking key int64

### Minimum Scope Definition

ENEM - Taking off:

    Without School Code
    Is not attended in regular schools,
    With scores zero
    between 17 and 19 years old (in order to take only last secodary year students)
    Attended in schools with at least 10 students

In [13]:
ENEM.dropna(inplace = True, axis=0, subset = ['CO_ESCOLA'])

In [14]:
#should care about the nulls into scope filter features?
filters = (['TP_ST_CONCLUSAO', 'TP_ENSINO'])
ENEM[filters].isnull().sum()
#NO, IT'S LOWER

TP_ST_CONCLUSAO     0
TP_ENSINO          16
dtype: int64

In [15]:
print('drop out',((ENEM.TP_ENSINO!= 1)).sum(), 'who not attend regular and prof approachs schools')
ENEM = ENEM.loc[((ENEM.TP_ENSINO== 1))]
ENEM.drop('TP_ENSINO', inplace = True, axis =1)

drop out 202165 who not attend regular and prof approachs schools

In [16]:
fields = (['NU_NOTA_CN', 'NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT', 'NU_NOTA_REDACAO'])
for i in fields:
    print ('null:', i, ENEM[i].isnull().sum())
    print ('zero:', i, (ENEM[i]== 0).sum())

    
    #, "and", ENEM.I==0)

null: NU_NOTA_CN 297059
zero: NU_NOTA_CN 108
null: NU_NOTA_CH 239641
zero: NU_NOTA_CH 1850
null: NU_NOTA_LC 239641
zero: NU_NOTA_LC 761
null: NU_NOTA_MT 297059
zero: NU_NOTA_MT 142
null: NU_NOTA_REDACAO 239641
zero: NU_NOTA_REDACAO 73575

In [17]:
ENEM.dropna(inplace = True, axis=0, subset=fields)
ENEM = ENEM.loc[~(ENEM[fields] == 0).any(axis=1)]

In [18]:
#ONLY STUDENTS AT  17 -19 YEAR OLD. WE WANT TO GET ONLY REGULAR STUDENTS THAT ARE IN LAST YEAR OF SECONDARY SCHOOL. 
#THE MICRODADOS HAVE A FIELD TO CONTROL IT. BUT IT IS NOT CONFIDENCE,DUE A TURN OUT TEAACHERS THAT EXTEND ACADEMIC YEAR
print('null', ENEM.NU_IDADE.isnull().sum())
#firts, fill NA with the mean of student school
ENEM.NU_IDADE = ENEM.groupby(ENEM['CO_ESCOLA'])['NU_IDADE'].apply(lambda x: x.fillna(round(x.mean())))
ENEM.NU_IDADE = ENEM.NU_IDADE.astype('int32')
print('taking off',((ENEM.NU_IDADE <17)|(ENEM.NU_IDADE>19)).sum())
ENEM = ENEM.loc[(ENEM.NU_IDADE >16) &  (ENEM.NU_IDADE<20)]
ENEM.NU_IDADE.value_counts()

null 28
taking off 101608

17    628466
18    395677
19     94783
Name: NU_IDADE, dtype: int64

In [19]:
ENEM[fields].describe()

         NU_NOTA_CN    NU_NOTA_CH    NU_NOTA_LC    NU_NOTA_MT  NU_NOTA_REDACAO
count  1.118926e+06  1.118926e+06  1.118926e+06  1.118926e+06     1.118926e+06
mean   5.121278e+02  5.246571e+02  5.132594e+02  5.282450e+02     5.737046e+02
std    7.260337e+01  8.021730e+01  6.413030e+01  1.065903e+02     1.323638e+02
min    3.000000e+02  3.172000e+02  2.996000e+02  3.204000e+02     4.000000e+01
25%    4.552000e+02  4.629000e+02  4.727000e+02  4.443000e+02     4.800000e+02
50%    5.073000e+02  5.275000e+02  5.167000e+02  5.136000e+02     5.600000e+02
75%    5.640000e+02  5.854000e+02  5.583000e+02  5.960000e+02     6.400000e+02
max    8.564000e+02  8.683000e+02  7.682000e+02  9.939000e+02     1.000000e+03

In [20]:
#Only schools with at least 10 students 
filter = ENEM.loc[ENEM.groupby('CO_ESCOLA')['CO_ESCOLA'].transform('count')<=9]
print('taking off',filter.shape[0], 'students of', filter.drop_duplicates('CO_ESCOLA').shape[0], 'schools')
ENEM = ENEM.loc[~ENEM.CO_ESCOLA.isin(filter.CO_ESCOLA)]

taking off 30165 students of 7318 schools

In [21]:
#Classes on Census 
#Only regular classes
C_CLASS = C_CLASS.loc[C_CLASS['CO_MOD_ENSINO']==1]
#Only third year of secondary school
step_class = [27,28,32,33,37,38] # 
C_CLASS = C_CLASS.loc[C_CLASS['IN_ETAPA_ENSINO'].isin(step_class)]
C_CLASS.shape[0]

77694

### Treatment

ENEM

In [22]:
fields = ['TP_SEXO', 'TP_COR_RACA', 'EDU_PAI', 'EDU_MAE','QT_PESSOAS_CASA', 'RENDA_MENSAL']
ENEM[fields].isnull().sum()

TP_SEXO            0
TP_COR_RACA        0
EDU_PAI            0
EDU_MAE            0
QT_PESSOAS_CASA    1
RENDA_MENSAL       1
dtype: int64

In [23]:
# Have not a specific explain, lets fill w school mode. 
ENEM.QT_PESSOAS_CASA = ENEM.groupby('CO_ESCOLA')['QT_PESSOAS_CASA'].transform(
    lambda x: x.fillna(Counter(x).most_common()[0][0]))
ENEM.RENDA_MENSAL = ENEM.groupby('CO_ESCOLA')['RENDA_MENSAL'].transform(
    lambda x: x.fillna(Counter(x).most_common()[0][0]))

In [24]:
for i in fields:
    print(i,ENEM[i].value_counts().index)

TP_SEXO Index(['F', 'M'], dtype='object')
TP_COR_RACA Int64Index([3, 1, 2, 4, 0, 5], dtype='int64')
EDU_PAI Index(['E', 'B', 'C', 'D', 'F', 'H', 'G', 'A'], dtype='object')
EDU_MAE Index(['E', 'D', 'C', 'F', 'B', 'G', 'H', 'A'], dtype='object')
QT_PESSOAS_CASA Float64Index([ 4.0,  3.0,  5.0,  2.0,  6.0,  7.0,  8.0,  9.0, 10.0,  1.0, 11.0,
              12.0, 13.0, 20.0, 14.0, 15.0, 18.0, 16.0, 17.0, 19.0],
             dtype='float64')
RENDA_MENSAL Index(['B', 'C', 'D', 'E', 'G', 'F', 'H', 'I', 'A', 'J', 'Q', 'N', 'K', 'L',
       'O', 'M', 'P'],
      dtype='object')

In [25]:
#Order relation, is better for numeric categories.
categorical = ['TP_SEXO','EDU_PAI', 'EDU_MAE', 'RENDA_MENSAL']
for i in categorical:
    codes, uniques = pd.factorize(ENEM[i], sort=True)
    ENEM[i] = codes

In [26]:
# Paring with default categories

ENEM.loc[ENEM['EDU_PAI']==0, 'EDU_PAI_TEMP']=0
ENEM.loc[ENEM['EDU_PAI']==1, 'EDU_PAI_TEMP']=0
ENEM.loc[ENEM['EDU_PAI']==2, 'EDU_PAI_TEMP']=1
ENEM.loc[ENEM['EDU_PAI']==3, 'EDU_PAI_TEMP']=2
ENEM.loc[ENEM['EDU_PAI']==4, 'EDU_PAI_TEMP']=3
ENEM.loc[ENEM['EDU_PAI']==5, 'EDU_PAI_TEMP']=4
ENEM.loc[ENEM['EDU_PAI']==6, 'EDU_PAI_TEMP']=5
ENEM.loc[ENEM['EDU_PAI']==7, 'EDU_PAI_TEMP']=0

ENEM.loc[ENEM['EDU_MAE']==0, 'EDU_MAE_TEMP']=0
ENEM.loc[ENEM['EDU_MAE']==1, 'EDU_MAE_TEMP']=0
ENEM.loc[ENEM['EDU_MAE']==2, 'EDU_MAE_TEMP']=1
ENEM.loc[ENEM['EDU_MAE']==3, 'EDU_MAE_TEMP']=2
ENEM.loc[ENEM['EDU_MAE']==4, 'EDU_MAE_TEMP']=3
ENEM.loc[ENEM['EDU_MAE']==5, 'EDU_MAE_TEMP']=4
ENEM.loc[ENEM['EDU_MAE']==6, 'EDU_MAE_TEMP']=5
ENEM.loc[ENEM['EDU_MAE']==7, 'EDU_MAE_TEMP']=0



ENEM.loc[ENEM['QT_PESSOAS_CASA']==1, 'QT_PESSOAS_CASA_TEMP']=0
ENEM.loc[ENEM['QT_PESSOAS_CASA']==2, 'QT_PESSOAS_CASA_TEMP']=1
ENEM.loc[ENEM['QT_PESSOAS_CASA']==3, 'QT_PESSOAS_CASA_TEMP']=1
ENEM.loc[ENEM['QT_PESSOAS_CASA']==4, 'QT_PESSOAS_CASA_TEMP']=2
ENEM.loc[ENEM['QT_PESSOAS_CASA']==5, 'QT_PESSOAS_CASA_TEMP']=2
ENEM.loc[ENEM['QT_PESSOAS_CASA']==6, 'QT_PESSOAS_CASA_TEMP']=2
ENEM.loc[ENEM['QT_PESSOAS_CASA']==7, 'QT_PESSOAS_CASA_TEMP']=2
ENEM.loc[ENEM['QT_PESSOAS_CASA']>7, 'QT_PESSOAS_CASA_TEMP']=3

ENEM.loc[ENEM['RENDA_MENSAL']==0, 'RENDA_MENSAL_TEMP']=0
ENEM.loc[ENEM['RENDA_MENSAL']==1, 'RENDA_MENSAL_TEMP']=1
ENEM.loc[ENEM['RENDA_MENSAL']==2, 'RENDA_MENSAL_TEMP']=2
ENEM.loc[ENEM['RENDA_MENSAL']==3, 'RENDA_MENSAL_TEMP']=2
ENEM.loc[(ENEM['RENDA_MENSAL']>3) & (ENEM['RENDA_MENSAL']<8), 'RENDA_MENSAL_TEMP']=3
ENEM.loc[(ENEM['RENDA_MENSAL']>7) & (ENEM['RENDA_MENSAL']<13), 'RENDA_MENSAL_TEMP']=4
ENEM.loc[ENEM['RENDA_MENSAL']>12, 'RENDA_MENSAL_TEMP']=5

In [27]:
#back to original columns
ENEM['EDU_PAI'] = ENEM['EDU_PAI_TEMP']
ENEM['EDU_MAE'] = ENEM['EDU_MAE_TEMP']
ENEM['QT_PESSOAS_CASA'] = ENEM['QT_PESSOAS_CASA_TEMP']
ENEM['RENDA_MENSAL'] = ENEM['RENDA_MENSAL_TEMP']

In [28]:
#drop temps

ENEM.drop(['EDU_PAI_TEMP', 'EDU_MAE_TEMP', 'QT_PESSOAS_CASA_TEMP','RENDA_MENSAL_TEMP'], axis=1, inplace=True)

In [29]:
print('total students considered:',ENEM.shape[0])

total students considered: 1088761

CENSUS - SCHOOL

In [30]:
#Taking only schools present at ALL DATABASES
C_SCHOOL = C_SCHOOL.loc[(C_SCHOOL.CO_ESCOLA.isin(ENEM.CO_ESCOLA)) & (C_SCHOOL.CO_ESCOLA.isin(C_CLASS.CO_ESCOLA)) &
                                                        (C_SCHOOL.CO_ESCOLA.isin(C_TEACHER.CO_ESCOLA))]
C_SCHOOL.isnull().sum().to_frame().T

,CO_ESCOLA,CO_MUNICIPIO,CO_UF,CO_DEPENDENCIA_ADM,IN_AGUA_INEXISTENTE,IN_ESGOTO_INEXISTENTE,IN_ENERGIA_INEXISTENTE,IN_LABORATORIO_INFORMATICA,IN_LABORATORIO_CIENCIAS,IN_SALA_ATENDIMENTO_ESPECIAL,IN_BIBLIOTECA,IN_SALA_LEITURA,IN_BANHEIRO,IN_BANHEIRO_PNE,QT_SALAS_UTILIZADAS,QT_EQUIP_TV,QT_EQUIP_DVD,QT_EQUIP_COPIADORA,QT_EQUIP_IMPRESSORA,QT_COMP_ALUNO,IN_INTERNET,IN_BANDA_LARGA,QT_FUNCIONARIOS,IN_ALIMENTACAO,IN_COMUM_MEDIO_MEDIO,IN_COMUM_MEDIO_INTEGRADO,IN_COMUM_MEDIO_NORMAL,IN_SALA_PROFESSOR,IN_COZINHA,IN_EQUIP_PARABOLICA,IN_QUADRA_ESPORTES,IN_ATIV_COMPLEMENTAR
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

CENSUS - CLASS

In [31]:
C_CLASS = C_CLASS.loc[(C_CLASS.CO_ESCOLA.isin(C_SCHOOL.CO_ESCOLA))]
C_CLASS.isnull().sum().to_frame().T

   CO_ESCOLA  CO_TURMA  CO_MOD_ENSINO  IN_ETAPA_ENSINO  QT_MATRICULAS
0          0         0              0                0              0

CENSUS - TEACHER

In [32]:
C_TEACHER = C_TEACHER.drop_duplicates(['CO_PROFESSOR', 'CO_ESCOLA']) # We have multiple teachers for school due classes. It is importante just one record
C_TEACHER = C_TEACHER.loc[(C_TEACHER.CO_ESCOLA.isin(C_SCHOOL.CO_ESCOLA))]
C_TEACHER.isnull().sum().to_frame().T

,CO_PROFESSOR,CO_ESCOLA,CO_TURMA,IN_ESPECIALIZACAO,IN_MESTRADO,IN_DOUTORADO,ID_QUIMICA,ID_FISICA,ID_MATEMATICA,ID_BIOLOGIA,ID_SOCIOLOGIA,ID_LINGUA_LITERAT_PORTUGUESA,ID_LINGUA_LITERAT_INGLES,ID_LINGUA_LITERAT_ESPANHOL,ID_ARTES,ID_EDUCACAO_FISICA,ID_HISTORIA,ID_GEOGRAFIA,ID_FILOSOFIA,CO_AREA_OCDE_1,ID_LICENCIATURA_1,CO_AREA_OCDE_2,ID_LICENCIATURA_2,CO_AREA_OCDE_3,ID_LICENCIATURA_3
0,0,0,0,79595,79595,79595,177297,177297,95275,177297,177297,95275,95275,95275,95275,95275,95275,95275,95275,41844,41844,790147,790147,842604,842604

In [33]:
C_TEACHER.fillna(0, inplace = True)
print('total teachers considered:',C_TEACHER.shape[0])

total teachers considered: 848726

### New Features

ENEM

In [34]:
#Final Media, Target
ENEM['NU_NOTA_GERAL'] = (ENEM.NU_NOTA_CN + ENEM.NU_NOTA_CH + ENEM.NU_NOTA_LC + ENEM.NU_NOTA_MT + ENEM.NU_NOTA_REDACAO)/5

TEACHER CENSUS

In [35]:
C_TEACHER['TITULACAO'] = 0

C_TEACHER.loc[(C_TEACHER.IN_ESPECIALIZACAO==0.0) & (C_TEACHER.IN_MESTRADO==0.0)& 
             (C_TEACHER.IN_DOUTORADO ==0.0), 'TITULACAO'] = 0

C_TEACHER.loc[(C_TEACHER.IN_ESPECIALIZACAO==1.0) & (C_TEACHER.IN_MESTRADO==0.0)& 
             (C_TEACHER.IN_DOUTORADO ==0.0), 'TITULACAO'] = 1

C_TEACHER.loc[(C_TEACHER.IN_ESPECIALIZACAO==1.0) & (C_TEACHER.IN_MESTRADO==1.0)& 
             (C_TEACHER.IN_DOUTORADO ==0.0), 'TITULACAO'] = 2

C_TEACHER.loc[(C_TEACHER.IN_ESPECIALIZACAO==0.0) & (C_TEACHER.IN_MESTRADO==1.0)& 
             (C_TEACHER.IN_DOUTORADO ==0.0), 'TITULACAO'] = 2

C_TEACHER.loc[(C_TEACHER.IN_DOUTORADO ==1.0), 'TITULACAO'] = 3

#Rebuild level education information as indicator of unique level.
C_TEACHER['NU_GRADUACAO'] = 0
C_TEACHER['NU_ESPECIALIZACAO'] = 0
C_TEACHER['NU_MESTRADO'] = 0
C_TEACHER['NU_DOUTORADO'] = 0

C_TEACHER.loc[C_TEACHER.TITULACAO == 0, 'NU_GRADUACAO']= 1
C_TEACHER.loc[C_TEACHER.TITULACAO == 1, 'NU_ESPECIALIZACAO']= 1
C_TEACHER.loc[C_TEACHER.TITULACAO == 2, 'NU_MESTRADO']= 1
C_TEACHER.loc[C_TEACHER.TITULACAO == 3, 'NU_DOUTORADO']= 1


C_TEACHER['NU_GRADUACAO'] = C_TEACHER.groupby('CO_ESCOLA')['NU_GRADUACAO'].transform(sum)
C_TEACHER['NU_ESPECIALIZACAO'] = C_TEACHER.groupby('CO_ESCOLA')['NU_ESPECIALIZACAO'].transform(sum)
C_TEACHER['NU_MESTRADO'] = C_TEACHER.groupby('CO_ESCOLA')['NU_MESTRADO'].transform(sum)
C_TEACHER['NU_DOUTORADO'] = C_TEACHER.groupby('CO_ESCOLA')['NU_DOUTORADO'].transform(sum)



#Calculating weighted indice of teacher education
SUM= C_TEACHER.groupby('CO_ESCOLA')['TITULACAO'].transform(sum)
COUNT =  C_TEACHER.groupby('CO_ESCOLA')['TITULACAO'].transform('count')
C_TEACHER['TITULACAO'] = (SUM)/(COUNT*3)

In [36]:
#In order to avoid count duplicates teacher who teachs in both subjects. Since the required training is the same
C_TEACHER['ID_LINGUA_ESTRANGEIRA']=0
C_TEACHER.loc[((C_TEACHER.ID_LINGUA_LITERAT_ESPANHOL==1)|
               (C_TEACHER.ID_LINGUA_LITERAT_INGLES==1)),'ID_LINGUA_ESTRANGEIRA']=1  

#In order to avoid count duplicates teacher who teachs in both subjects. Since we consindering as the same subject
C_TEACHER['ID_FISIO_SOCIO']=0
C_TEACHER.loc[((C_TEACHER.ID_FILOSOFIA==1)|(C_TEACHER.ID_SOCIOLOGIA==1)),'ID_FISIO_SOCIO']=1

C_TEACHER['OUTROS'] = 0
curr_teaching = ['ID_MATEMATICA', 'ID_FISICA', 'ID_QUIMICA', 'ID_HISTORIA', 'ID_BIOLOGIA', 'ID_GEOGRAFIA', 
            'ID_LINGUA_LITERAT_PORTUGUESA', 'ID_LINGUA_ESTRANGEIRA','ID_FISIO_SOCIO', 'ID_ARTES', 
            'ID_EDUCACAO_FISICA', 'OUTROS']

#C_TEACHER[curr_teaching].fillna(0, inplace=True)
C_TEACHER.loc[(C_TEACHER[curr_teaching]==0).all(axis=1), 'OUTROS'] =1

#Take out teacher who do not taught in subjects related of ENEM and secondary education
C_TEACHER = C_TEACHER.loc[C_TEACHER.OUTROS==0]
##

In [37]:
# How many teacher for each knowlodege area?

ciencias_humanas = ['ID_HISTORIA', 'ID_GEOGRAFIA','ID_FILOSOFIA', 'ID_SOCIOLOGIA']
linguagens_codigos = ['ID_LINGUA_LITERAT_PORTUGUESA', 'ID_LINGUA_LITERAT_ESPANHOL',
                      'ID_LINGUA_LITERAT_INGLES', 'ID_ARTES', 'ID_EDUCACAO_FISICA']
matematica = ['ID_MATEMATICA']
ciencias_natureza = ['ID_FISICA', 'ID_QUIMICA', 'ID_BIOLOGIA']

###
values = np.sum(C_TEACHER[ciencias_natureza].values == 1,1)
C_TEACHER['NU_CIENCIA_NATUREZA'] = [1 if x >= 1 else 0 for x in values]
C_TEACHER['NU_CIENCIA_NATUREZA']= C_TEACHER.groupby('CO_ESCOLA')['NU_CIENCIA_NATUREZA'].transform(sum)

values = np.sum(C_TEACHER[ciencias_humanas].values == 1,1)
C_TEACHER['NU_CIENCIAS_HUMANAS'] = [1 if x >= 1 else 0 for x in values]
C_TEACHER['NU_CIENCIAS_HUMANAS']= C_TEACHER.groupby('CO_ESCOLA')['NU_CIENCIAS_HUMANAS'].transform(sum)

values = np.sum(C_TEACHER[linguagens_codigos].values == 1,1)
C_TEACHER['NU_LINGUAGENS_CODIGOS'] = [1 if x >= 1 else 0 for x in values]
C_TEACHER['NU_LINGUAGENS_CODIGOS']= C_TEACHER.groupby('CO_ESCOLA')['NU_LINGUAGENS_CODIGOS'].transform(sum)

C_TEACHER['NU_MATEMATICA']= C_TEACHER.groupby('CO_ESCOLA')['ID_MATEMATICA'].transform(sum)

#Sum all domain teacher's number
C_TEACHER['NU_TEACHERS_DOMAIN'] = C_TEACHER['NU_MATEMATICA']+C_TEACHER['NU_LINGUAGENS_CODIGOS']+C_TEACHER[
    'NU_CIENCIAS_HUMANAS']+C_TEACHER['NU_CIENCIA_NATUREZA']

#update domain teacher's number normalized
C_TEACHER['NU_MATEMATICA']=C_TEACHER['NU_MATEMATICA']/C_TEACHER['NU_TEACHERS_DOMAIN']
C_TEACHER['NU_LINGUAGENS_CODIGOS'] = C_TEACHER['NU_LINGUAGENS_CODIGOS']/C_TEACHER['NU_TEACHERS_DOMAIN']
C_TEACHER['NU_CIENCIAS_HUMANAS'] = C_TEACHER['NU_CIENCIAS_HUMANAS']/C_TEACHER['NU_TEACHERS_DOMAIN']
C_TEACHER['NU_CIENCIA_NATUREZA'] = C_TEACHER['NU_CIENCIA_NATUREZA']/C_TEACHER['NU_TEACHERS_DOMAIN']

In [38]:
#Number of different schools that teachers work 
C_TEACHER['NU_ESCOLAS'] = C_TEACHER.groupby('CO_PROFESSOR')['CO_ESCOLA'].transform('count')
C_TEACHER['NU_ESCOLAS'] = C_TEACHER.groupby('CO_ESCOLA')['NU_ESCOLAS'].transform('mean')
#Number of licensed teachers
C_TEACHER['NU_LICENCIADOS']=C_TEACHER.groupby('CO_ESCOLA')['ID_LICENCIATURA_1'].transform(sum)
C_TEACHER['NU_TEACHERS']=C_TEACHER.groupby('CO_ESCOLA')['ID_LICENCIATURA_1'].transform('count')
C_TEACHER['NU_LICENCIADOS']=C_TEACHER['NU_LICENCIADOS']/C_TEACHER['NU_TEACHERS']

In [39]:
# How about the adequate background rate of teachers
FOR_HISTORIA = ['145F11', '225H01']
FOR_GEOGRAFIA = ['145F10', '443G04']
FOR_FISIO_SOCIO = ['226999','145F08', '312999', '145F24']
FOR_ARTES = ['210A01', '146D01']
#FOR_CIENCIAS_HUMANAS = [FOR_HISTORIA, FOR_GEOGRAFIA, FOR_FILOS_SOCIO]
##
FOR_LING_PORTUGUES = ['145F15','145F16', '220P01', '220L03', '220L01']
FOR_LING_ESTRANGEIRA = ['145F16','220E01', '220L03', '145F13']
FOR_EDUCACAO_FISICA = ['720E01']
##
FOR_MATEMATICA = ['461M01','145F18']
##
FOR_BIOLOGIA = ['145F01', '421B02']
FOR_QUIMICA = ['442Q01','421B09', '524999', '145F21']
FOR_FISICA = ['145F09', '421B01','441F01']
#FOR_CIENCIAS_NATUREZA = [biologia, quimica, fisica]
###
C_TEACHER['FOR_MATEMATICA']=0
C_TEACHER['FOR_FISICA']=0
C_TEACHER['FOR_QUIMICA']=0
C_TEACHER['FOR_HISTORIA']=0
C_TEACHER['FOR_BIOLOGIA']=0
C_TEACHER['FOR_GEOGRAFIA']=0
C_TEACHER['FOR_LING_PORTUGUES']=0
C_TEACHER['FOR_LING_ESTRANGEIRA']=0
C_TEACHER['FOR_FISIO_SOCIO']=0
C_TEACHER['FOR_ARTES']=0
C_TEACHER['FOR_EDUCACAO_FISICA']=0

### Set 1 for those who teaches and have adequate training for that
C_TEACHER.loc[(C_TEACHER.ID_MATEMATICA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_MATEMATICA))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_MATEMATICA))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_MATEMATICA))), 'FOR_MATEMATICA'] = 1

C_TEACHER.loc[(C_TEACHER.ID_FISICA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_FISICA))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_FISICA))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_FISICA))), 'FOR_FISICA'] = 1

C_TEACHER.loc[(C_TEACHER.ID_QUIMICA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_QUIMICA))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_QUIMICA))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_HISTORIA))), 'FOR_QUIMICA'] = 1

C_TEACHER.loc[(C_TEACHER.ID_HISTORIA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_HISTORIA))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_HISTORIA))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_HISTORIA))), 'FOR_HISTORIA'] = 1

C_TEACHER.loc[(C_TEACHER.ID_BIOLOGIA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_BIOLOGIA))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_BIOLOGIA))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_BIOLOGIA))), 'FOR_BIOLOGIA'] = 1

C_TEACHER.loc[(C_TEACHER.ID_GEOGRAFIA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_GEOGRAFIA))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_GEOGRAFIA))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_GEOGRAFIA))), 'FOR_GEOGRAFIA'] = 1

C_TEACHER.loc[(C_TEACHER.ID_LINGUA_LITERAT_PORTUGUESA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_LING_PORTUGUES))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_LING_PORTUGUES))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_LING_PORTUGUES))), 'FOR_LING_PORTUGUES'] = 1

C_TEACHER.loc[(C_TEACHER.ID_LINGUA_ESTRANGEIRA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_LING_ESTRANGEIRA))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_LING_ESTRANGEIRA))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_LING_ESTRANGEIRA))), 'FOR_LING_ESTRANGEIRA'] = 1   

               
C_TEACHER.loc[((C_TEACHER.ID_FILOSOFIA==1)|(C_TEACHER.ID_SOCIOLOGIA==1)) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_FISIO_SOCIO))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_FISIO_SOCIO))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_FISIO_SOCIO))), 'FOR_FISIO_SOCIO'] = 1   
                                                   
C_TEACHER.loc[(C_TEACHER.ID_ARTES==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_ARTES))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_ARTES))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_ARTES))), 'FOR_ARTES'] = 1  

C_TEACHER.loc[(C_TEACHER.ID_EDUCACAO_FISICA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_EDUCACAO_FISICA))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_EDUCACAO_FISICA))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_EDUCACAO_FISICA))), 'FOR_EDUCACAO_FISICA'] = 1

In [40]:
#Computing sum of teachers with adequate training for each school
adequate_training = ['FOR_MATEMATICA','FOR_FISICA','FOR_QUIMICA','FOR_HISTORIA','FOR_BIOLOGIA','FOR_GEOGRAFIA',
 'FOR_LING_PORTUGUES','FOR_LING_ESTRANGEIRA','FOR_FISIO_SOCIO','FOR_ARTES', 'FOR_EDUCACAO_FISICA']

for i in adequate_training:
    C_TEACHER[i] = C_TEACHER.groupby('CO_ESCOLA')[i].transform(sum)
    
#Computing sum of current classes taught, whatever if they have training
for i in curr_teaching: #defined earlier
    C_TEACHER[i] =  C_TEACHER.groupby('CO_ESCOLA')[i].transform(sum) 
    
#School Grain
C_TEACHER.drop_duplicates('CO_ESCOLA', inplace = True)

In [41]:
# Computing the rate of adequate training ((number of current with adequate training + Number those w/o traininig*0.5)/total) for each area)

C_TEACHER['IN_FOR_MAT'] = (C_TEACHER['FOR_MATEMATICA']+ (
    (C_TEACHER['ID_MATEMATICA'] - C_TEACHER['FOR_MATEMATICA'])*0.5))/C_TEACHER['ID_MATEMATICA']

C_TEACHER['IN_FOR_FIS'] = (C_TEACHER['FOR_FISICA']+ (
    (C_TEACHER['ID_FISICA'] - C_TEACHER['FOR_FISICA'])*0.5))/C_TEACHER['ID_FISICA']

C_TEACHER['IN_FOR_QUI'] = (C_TEACHER['FOR_QUIMICA']+ (
    (C_TEACHER['ID_QUIMICA'] - C_TEACHER['FOR_QUIMICA'])*0.5))/C_TEACHER['ID_QUIMICA']

C_TEACHER['IN_FOR_HIST'] = (C_TEACHER['FOR_HISTORIA']+ (
    (C_TEACHER['ID_HISTORIA'] - C_TEACHER['FOR_HISTORIA'])*0.5))/C_TEACHER['ID_HISTORIA']

C_TEACHER['IN_FOR_BIO'] = (C_TEACHER['FOR_BIOLOGIA']+ (
    (C_TEACHER['ID_BIOLOGIA'] - C_TEACHER['FOR_BIOLOGIA'])*0.5))/C_TEACHER['ID_BIOLOGIA']

C_TEACHER['IN_FOR_GEO'] = (C_TEACHER['FOR_GEOGRAFIA']+ (
    (C_TEACHER['ID_GEOGRAFIA'] - C_TEACHER['FOR_GEOGRAFIA'])*0.5))/C_TEACHER['ID_GEOGRAFIA']

C_TEACHER['IN_FOR_PORT'] = (C_TEACHER['FOR_LING_PORTUGUES']+ (
    (C_TEACHER['ID_LINGUA_LITERAT_PORTUGUESA'] - C_TEACHER['FOR_LING_PORTUGUES'])*0.5))/C_TEACHER['ID_LINGUA_LITERAT_PORTUGUESA']

C_TEACHER['IN_FOR_EST'] = (C_TEACHER['FOR_LING_ESTRANGEIRA']+ (
    (C_TEACHER['ID_LINGUA_ESTRANGEIRA'] - C_TEACHER['FOR_LING_ESTRANGEIRA'])*0.5))/C_TEACHER['ID_LINGUA_ESTRANGEIRA']

C_TEACHER['IN_FOR_FISIO_SOCIO'] = (C_TEACHER['FOR_FISIO_SOCIO']+ (
    (C_TEACHER['ID_FISIO_SOCIO'] - C_TEACHER['FOR_FISIO_SOCIO'])*0.5))/C_TEACHER['ID_FISIO_SOCIO']

C_TEACHER['IN_FOR_ARTES'] = (C_TEACHER['FOR_ARTES']+ (
    (C_TEACHER['ID_ARTES'] - C_TEACHER['FOR_ARTES'])*0.5))/C_TEACHER['ID_ARTES']

C_TEACHER['IN_FOR_ED_FISICA'] = (C_TEACHER['FOR_EDUCACAO_FISICA']+ (
    (C_TEACHER['ID_EDUCACAO_FISICA'] - C_TEACHER['FOR_EDUCACAO_FISICA'])*0.5))/C_TEACHER['ID_EDUCACAO_FISICA']

In [42]:
#Computing a new index for each school = Teacher Adequate Training
COLUMNS = C_TEACHER.filter(regex=("^IN_FOR_*")).columns
C_TEACHER.fillna({x:0 for x in COLUMNS}, inplace=True)
C_TEACHER['IN_FORM_DOCENTE']=C_TEACHER.filter(regex=("^IN_FOR_*")).sum(axis=1)/11

#Drop indices from each subject
#C_TEACHER.drop(COLUMNS, axis=1, inplace = True)

In [43]:
#drop all subjects and others that are no longer needed
C_TEACHER.drop(C_TEACHER.filter(regex=('^ID_*')).columns, axis=1, inplace = True)
others = ['CO_PROFESSOR','CO_TURMA', 'CO_AREA_OCDE_1','CO_AREA_OCDE_2', 'CO_AREA_OCDE_3','OUTROS',
          'IN_ESPECIALIZACAO', 'IN_MESTRADO', 'IN_DOUTORADO']
#C_TEACHER.drop(others, axis=1, inplace = True)
C_TEACHER.columns

Index(['CO_PROFESSOR', 'CO_ESCOLA', 'CO_TURMA', 'IN_ESPECIALIZACAO',
       'IN_MESTRADO', 'IN_DOUTORADO', 'CO_AREA_OCDE_1', 'CO_AREA_OCDE_2',
       'CO_AREA_OCDE_3', 'TITULACAO', 'NU_GRADUACAO', 'NU_ESPECIALIZACAO',
       'NU_MESTRADO', 'NU_DOUTORADO', 'OUTROS', 'NU_CIENCIA_NATUREZA',
       'NU_CIENCIAS_HUMANAS', 'NU_LINGUAGENS_CODIGOS', 'NU_MATEMATICA',
       'NU_TEACHERS_DOMAIN', 'NU_ESCOLAS', 'NU_LICENCIADOS', 'NU_TEACHERS',
       'FOR_MATEMATICA', 'FOR_FISICA', 'FOR_QUIMICA', 'FOR_HISTORIA',
       'FOR_BIOLOGIA', 'FOR_GEOGRAFIA', 'FOR_LING_PORTUGUES',
       'FOR_LING_ESTRANGEIRA', 'FOR_FISIO_SOCIO', 'FOR_ARTES',
       'FOR_EDUCACAO_FISICA', 'IN_FOR_MAT', 'IN_FOR_FIS', 'IN_FOR_QUI',
       'IN_FOR_HIST', 'IN_FOR_BIO', 'IN_FOR_GEO', 'IN_FOR_PORT', 'IN_FOR_EST',
       'IN_FOR_FISIO_SOCIO', 'IN_FOR_ARTES', 'IN_FOR_ED_FISICA',
       'IN_FORM_DOCENTE'],
      dtype='object')

In [44]:
C_TEACHER.shape

(21692, 46)

In [45]:
#JUSTS NUMBER OF ENROLLMENTS OF SCHOOLS
C_CLASS = C_CLASS[['CO_ESCOLA', 'QT_MATRICULAS']]
C_CLASS['QT_MATRICULAS'] = C_CLASS.groupby('CO_ESCOLA').transform('mean')
C_CLASS.drop_duplicates('CO_ESCOLA', inplace = True)

## STUDENT GRAIN

In [46]:
# Merging Class and School
print('School',C_SCHOOL.shape)
CENSO = pd.merge(C_SCHOOL, C_CLASS, on = 'CO_ESCOLA', how = 'inner')
print('Class + School:', CENSO.shape[0])
# Next, merging with Teacher
CENSO = pd.merge(CENSO, C_TEACHER, on = 'CO_ESCOLA', how = 'inner')
print('School + Class + Teacher(taked off subject teachers out of context)',CENSO.shape)

School (21700, 32)
Class + School: 21700
School + Class + Teacher(taked off subject teachers out of context) (21692, 78)

In [47]:
#Now, all to Student Grain
print('ENEM',ENEM.shape)
ENEM_CENSO = pd.merge(ENEM, CENSO, on = 'CO_ESCOLA', how = 'inner')
print('FINAL (taked off schools with subject teachers out of context))',ENEM_CENSO.shape)

ENEM_CENSO.to_csv('STUDENT.csv')

ENEM (1088761, 16)
FINAL (taked off schools with subject teachers out of context)) (1078598, 93)