In [1]:
import time
import pandas as pd
import numpy as np
import warnings
from collections import Counter
warnings.filterwarnings('ignore')
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype
pd.set_option('display.max_columns', None)

There are many insignificant features to our work, like codes, PK, FK and out of context. 
Based on prior works and experience of especialists, will be taken off nonsense features. 
A study was carried out on the evolution and correspondence of these resources in the ENEM and Census
data for the period 2009-2018. See (featuresOrganisaton.xls)

In [2]:
classmate = ['NU_ANO_CENSO','CO_ENTIDADE','ID_TURMA', 'IN_REGULAR', 'TP_ETAPA_ENSINO', 'QT_MATRICULAS']

teacher = ['NU_ANO_CENSO','ID_DOCENTE', 'CO_ENTIDADE','ID_TURMA','IN_ESPECIALIZACAO','IN_MESTRADO','IN_DOUTORADO',
          'IN_DISC_QUIMICA', 'IN_DISC_FISICA', 'IN_DISC_MATEMATICA', 'IN_DISC_BIOLOGIA', 'IN_DISC_SOCIOLOGIA', 
           'IN_DISC_LINGUA_PORTUGUESA','IN_DISC_LINGUA_INGLES', 'IN_DISC_LINGUA_ESPANHOL', 'IN_DISC_ARTES', 
           'IN_DISC_EDUCACAO_FISICA', 'IN_DISC_HISTORIA','IN_DISC_GEOGRAFIA','IN_DISC_FILOSOFIA','CO_CURSO_1', 
           'IN_LICENCIATURA_1', 'CO_CURSO_2','IN_LICENCIATURA_2','CO_CURSO_3', 'IN_LICENCIATURA_3']

school = ['NU_ANO_CENSO','CO_ENTIDADE', 'CO_MUNICIPIO','CO_UF','TP_DEPENDENCIA','IN_AGUA_INEXISTENTE',
                  'IN_ESGOTO_INEXISTENTE','IN_ENERGIA_INEXISTENTE',
                   'IN_LABORATORIO_INFORMATICA','IN_LABORATORIO_CIENCIAS','IN_SALA_ATENDIMENTO_ESPECIAL',
                   'IN_BIBLIOTECA','IN_SALA_LEITURA','IN_BANHEIRO_DENTRO_PREDIO',
                   'IN_BANHEIRO_PNE','QT_SALAS_UTILIZADAS','QT_EQUIP_TV',
                   'QT_EQUIP_DVD','QT_EQUIP_COPIADORA','QT_EQUIP_IMPRESSORA',
                   'QT_COMP_ALUNO','IN_INTERNET','IN_BANDA_LARGA','QT_FUNCIONARIOS','IN_ALIMENTACAO', 
                   'IN_COMUM_MEDIO_MEDIO','IN_COMUM_MEDIO_INTEGRADO','IN_COMUM_MEDIO_NORMAL', 'IN_SALA_PROFESSOR', 
                   'IN_COZINHA','QT_EQUIP_PARABOLICA','IN_QUADRA_ESPORTES','TP_ATIVIDADE_COMPLEMENTAR']


enem = ['NU_ANO','CO_ESCOLA','TP_ENSINO','NU_IDADE','TP_SEXO','TP_COR_RACA','TP_ST_CONCLUSAO','NU_NOTA_CN',
        'NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT','NU_NOTA_REDACAO','Q001','Q002','Q005','Q006','TP_DEPENDENCIA_ADM_ESC'
]

In [3]:
#Students of ENEM
E = pd.read_csv('~/data/enem/2018/DADOS/MICRODADOS_ENEM_2018.csv', sep=';', encoding="iso-8859-2", usecols = enem)
E.shape

(5513747, 17)

In [4]:
#How many public schools (not included federal) are in the databases?
mun_est = (E.TP_DEPENDENCIA_ADM_ESC==2) |(E.TP_DEPENDENCIA_ADM_ESC==3)
print('students at public schools:',(mun_est).sum())
print('public schools:',(E.drop_duplicates('CO_ESCOLA')[mun_est]['CO_ESCOLA'].count()))
E.drop('TP_DEPENDENCIA_ADM_ESC', axis=1,inplace=True)
enem.remove('TP_DEPENDENCIA_ADM_ESC')

students at public schools: 1151207
public schools: 22729

In [5]:
#School census data
CE =pd.read_csv("~/data/censo/2018/DADOS/ESCOLAS.CSV", sep='|', encoding="iso-8859-2", usecols = school)

In [6]:
#Teacher census data by Braazilian mesoregion
CD_CO = pd.read_csv("~/data/censo/2018/DADOS/DOCENTES_CO.CSV", sep='|', encoding="iso-8859-2", usecols = teacher)
CD_NE = pd.read_csv("~/data/censo/2018/DADOS/DOCENTES_NORDESTE.CSV", sep='|', encoding="iso-8859-2", usecols = teacher)
CD_N =  pd.read_csv("~/data/censo/2018/DADOS/DOCENTES_NORTE.CSV", sep='|', encoding="iso-8859-2", usecols = teacher)
CD_SE = pd.read_csv("~/data/censo/2018/DADOS/DOCENTES_SUDESTE.CSV", sep='|', encoding="iso-8859-2", usecols = teacher)
CD_S =  pd.read_csv("~/data/censo/2018/DADOS/DOCENTES_SUL.CSV", sep='|', encoding="iso-8859-2", usecols = teacher)

#All teacher census data
CT = pd.concat([CD_CO, CD_NE, CD_N, CD_SE, CD_S])

In [7]:
#ClassMate census data
CM =  pd.read_csv("~/data/censo/2018/DADOS/TURMAS.CSV", sep='|', encoding="iso-8859-2", usecols = classmate)

In [180]:
ENEM = E.copy()
C_SCHOOL = CE.copy()
C_TEACHER = CT.copy()
C_CLASS = CM.copy()

New Names and Checking dtypes of COD's

In [181]:
#ordering
ENEM = ENEM[enem]

newNames = [
'CO_ANO',
'CO_ESCOLA',
'TP_ENSINO',
'NU_IDADE',
'TP_SEXO',
'TP_COR_RACA',
'TP_ST_CONCLUSAO',
'NU_NOTA_CN',
'NU_NOTA_CH',
'NU_NOTA_LC',
'NU_NOTA_MT',
'NU_NOTA_REDACAO',
'EDU_PAI',
'EDU_MAE',
'QT_PESSOAS_CASA',
'RENDA_MENSAL'
]

#Rename
ENEM.columns = newNames

print('checking year',ENEM.CO_ANO.unique())
print('checking key',ENEM.CO_ESCOLA.dtypes)

checking year [2018]
checking key float64

In [182]:
C_SCHOOL = C_SCHOOL[school]

newNames = [
 'ANO_CENSO',
 'CO_ESCOLA',
 'CO_MUNICIPIO',
 'CO_UF',
 'CO_DEPENDENCIA_ADM',
 'IN_AGUA_INEXISTENTE',
 'IN_ESGOTO_INEXISTENTE',
 'IN_ENERGIA_INEXISTENTE',
 'IN_LABORATORIO_INFORMATICA',
 'IN_LABORATORIO_CIENCIAS',
 'IN_SALA_ATENDIMENTO_ESPECIAL',
 'IN_BIBLIOTECA',
 'IN_SALA_LEITURA',
 'IN_BANHEIRO',
 'IN_BANHEIRO_PNE',
 'QT_SALAS_UTILIZADAS',
 'QT_EQUIP_TV',
 'QT_EQUIP_DVD',
 'QT_EQUIP_COPIADORA',
 'QT_EQUIP_IMPRESSORA',
 'QT_COMP_ALUNO',
 'IN_INTERNET',
 'IN_BANDA_LARGA',
 'QT_FUNCIONARIOS',
 'IN_ALIMENTACAO',
 'IN_COMUM_MEDIO_MEDIO',
 'IN_COMUM_MEDIO_INTEGRADO',
 'IN_COMUM_MEDIO_NORMAL', 
 'IN_SALA_PROFESSOR',       
 'IN_COZINHA',
 'IN_EQUIP_PARABOLICA',
 'IN_QUADRA_ESPORTES' ,          
 'IN_ATIV_COMPLEMENTAR'
]


#Rename 
C_SCHOOL.columns =  newNames

print('Checking year of censo',C_SCHOOL.ANO_CENSO.unique())
C_SCHOOL.drop('ANO_CENSO', axis=1, inplace=True)
print('checking key',C_SCHOOL.CO_ESCOLA.dtypes)

Checking year of censo [2018]
checking key int64

In [183]:
C_TEACHER = C_TEACHER[teacher]

# New default column names for all Datasets
newNames = [
'ANO_CENSO',
'CO_PROFESSOR',
'CO_ESCOLA',  
'CO_TURMA',
'IN_ESPECIALIZACAO',
'IN_MESTRADO',
'IN_DOUTORADO',
'ID_QUIMICA',
'ID_FISICA',
'ID_MATEMATICA',
'ID_BIOLOGIA',
'ID_SOCIOLOGIA',
'ID_LINGUA_LITERAT_PORTUGUESA',
'ID_LINGUA_LITERAT_INGLES',
'ID_LINGUA_LITERAT_ESPANHOL',
'ID_ARTES',
'ID_EDUCACAO_FISICA',
'ID_HISTORIA',
'ID_GEOGRAFIA',
'ID_FILOSOFIA',
'CO_AREA_OCDE_1', 
'ID_LICENCIATURA_1', 
'CO_AREA_OCDE_2',
'ID_LICENCIATURA_2',
'CO_AREA_OCDE_3',
'ID_LICENCIATURA_3'
]

C_TEACHER.columns = newNames
print('Checking year of censo',C_TEACHER.ANO_CENSO.unique())
C_TEACHER.drop('ANO_CENSO', axis=1, inplace=True)
print('checking key',C_TEACHER.CO_ESCOLA.dtypes)

Checking year of censo [2018]
checking key int64

In [184]:
C_CLASS = C_CLASS[classmate]

newNames = [
'ANO_CENSO',    
'CO_ESCOLA',
'CO_TURMA',  
'CO_MOD_ENSINO',
'IN_ETAPA_ENSINO',
'QT_MATRICULAS'
]

#Rename 
C_CLASS.columns =  newNames

print('Checking year of censo',C_CLASS.ANO_CENSO.unique())
C_CLASS.drop('ANO_CENSO', axis=1, inplace=True)
print('checking key',C_CLASS.CO_ESCOLA.dtypes)

Checking year of censo [2018]
checking key int64

### Minimum Scope Definition

ENEM - Taking off:

* Without School Code
* Is not attended in regular schools,
* With scores zero
* between 17 and 19 years old (in order to take only last secodary year students)
* Attended in schools with at least 10 students

In [185]:
ENEM.dropna(inplace = True, axis=0, subset = ['CO_ESCOLA'])

In [186]:
#should care about the nulls into scope filter features?
print(ENEM['TP_ENSINO'].value_counts())
print(ENEM['TP_ENSINO'].isnull().sum())
#NO, IT'S LOWER

1.0    1308998
3.0     134477
2.0       5171
Name: TP_ENSINO, dtype: int64
175

In [187]:
print('drop out',((ENEM.TP_ENSINO!= 1)).sum(), 'who not attend regular and prof approachs schools')
ENEM = ENEM.loc[((ENEM.TP_ENSINO== 1))]
ENEM.drop('TP_ENSINO', inplace = True, axis =1)

drop out 139823 who not attend regular and prof approachs schools

In [188]:
fields = (['NU_NOTA_CN', 'NU_NOTA_CH','NU_NOTA_LC','NU_NOTA_MT', 'NU_NOTA_REDACAO'])
for i in fields:
    print ('null:', i, ENEM[i].isnull().sum())
    print ('zero:', i, (ENEM[i]== 0).sum())

null: NU_NOTA_CN 246132
zero: NU_NOTA_CN 139
null: NU_NOTA_CH 196079
zero: NU_NOTA_CH 1823
null: NU_NOTA_LC 196079
zero: NU_NOTA_LC 820
null: NU_NOTA_MT 246132
zero: NU_NOTA_MT 170
null: NU_NOTA_REDACAO 196079
zero: NU_NOTA_REDACAO 31313

In [189]:
ENEM.dropna(inplace = True, axis=0, subset=fields)
ENEM = ENEM.loc[~(ENEM[fields] == 0).any(axis=1)]

In [190]:
#ONLY STUDENTS AT  17 -19 YEAR OLD. WE WANT TO GET ONLY REGULAR STUDENTS THAT ARE IN LAST YEAR OF SECONDARY SCHOOL. 
#THE MICRODADOS HAVE A FIELD TO CONTROL IT. BUT IT IS NOT CONFIDENCE,DUE A TURN OUT TEAACHERS THAT EXTEND ACADEMIC YEAR
print('null', ENEM.NU_IDADE.isnull().sum())
#firts, fill NA with the mean of student school
ENEM.NU_IDADE = ENEM.groupby(ENEM['CO_ESCOLA'])['NU_IDADE'].apply(lambda x: x.fillna(round(x.mean())))
print('taking off',((ENEM.NU_IDADE <17)|(ENEM.NU_IDADE>19)).sum())
ENEM = ENEM.loc[(ENEM.NU_IDADE >16) &  (ENEM.NU_IDADE<20)]
ENEM.NU_IDADE.value_counts()

null 34
taking off 71707

17.0    504395
18.0    375773
19.0     83783
Name: NU_IDADE, dtype: int64

In [191]:
ENEM[fields].describe()

,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
count,963951.000000,963951.000000,963951.000000,963951.000000,963951.000000
mean,497.876962,571.876045,531.269008,543.998162,544.124318
std,75.626334,77.195611,71.026114,104.426293,175.248747
min,362.500000,318.700000,318.800000,360.000000,40.000000
25%,437.800000,514.000000,481.600000,462.500000,380.000000
50%,487.600000,585.100000,536.900000,525.300000,540.000000
75%,549.400000,630.600000,583.600000,612.500000,660.000000
max,869.600000,850.400000,816.900000,996.100000,1000.000000

In [192]:
#Only schools with at least 10 students 
filter = ENEM.loc[ENEM.groupby('CO_ESCOLA')['CO_ESCOLA'].transform('count')<=9]
print('taking off',filter.shape[0], 'students of', filter.drop_duplicates('CO_ESCOLA').shape[0], 'schools')
ENEM = ENEM.loc[~ENEM.CO_ESCOLA.isin(filter.CO_ESCOLA)]

taking off 34711 students of 8024 schools

In [193]:
#Classes on Census 
#Only regular classes
C_CLASS = C_CLASS.loc[C_CLASS['CO_MOD_ENSINO']==1]
#Only third year of secondary school
step_class = [27,28,32,33,37,38] # 
C_CLASS = C_CLASS.loc[C_CLASS['IN_ETAPA_ENSINO'].isin(step_class)]
C_CLASS.shape[0]

77235

### Treatment

ENEM

In [194]:
fields = ['TP_SEXO', 'TP_COR_RACA', 'EDU_PAI', 'EDU_MAE','QT_PESSOAS_CASA', 'RENDA_MENSAL']
ENEM[fields].isnull().sum()

TP_SEXO            0
TP_COR_RACA        0
EDU_PAI            0
EDU_MAE            0
QT_PESSOAS_CASA    0
RENDA_MENSAL       0
dtype: int64

In [195]:
for i in fields:
    print(i,ENEM[i].value_counts().index)

TP_SEXO Index(['F', 'M'], dtype='object')
TP_COR_RACA Int64Index([3, 1, 2, 4, 0, 5], dtype='int64')
EDU_PAI Index(['E', 'B', 'C', 'D', 'F', 'H', 'G', 'A'], dtype='object')
EDU_MAE Index(['E', 'D', 'F', 'C', 'B', 'G', 'H', 'A'], dtype='object')
QT_PESSOAS_CASA Int64Index([4, 3, 5, 2, 6, 7, 8, 9, 10, 1, 11, 12, 13, 20, 14, 15, 16, 17, 18,
            19],
           dtype='int64')
RENDA_MENSAL Index(['C', 'B', 'E', 'D', 'G', 'H', 'F', 'I', 'A', 'J', 'N', 'K', 'Q', 'L',
       'O', 'P', 'M'],
      dtype='object')

In [196]:
#Order relation, is better for numeric categories.
categorical = ['TP_SEXO', 'EDU_PAI', 'EDU_MAE', 'RENDA_MENSAL']
for i in categorical:
    codes, uniques = pd.factorize(ENEM[i], sort=True)
    ENEM[i] = codes

In [197]:
# Paring with default categories

ENEM.loc[ENEM['EDU_PAI']==0, 'EDU_PAI_TEMP']=0
ENEM.loc[ENEM['EDU_PAI']==1, 'EDU_PAI_TEMP']=0
ENEM.loc[ENEM['EDU_PAI']==2, 'EDU_PAI_TEMP']=1
ENEM.loc[ENEM['EDU_PAI']==3, 'EDU_PAI_TEMP']=2
ENEM.loc[ENEM['EDU_PAI']==4, 'EDU_PAI_TEMP']=3
ENEM.loc[ENEM['EDU_PAI']==5, 'EDU_PAI_TEMP']=4
ENEM.loc[ENEM['EDU_PAI']==6, 'EDU_PAI_TEMP']=5
ENEM.loc[ENEM['EDU_PAI']==7, 'EDU_PAI_TEMP']=0

ENEM.loc[ENEM['EDU_MAE']==0, 'EDU_MAE_TEMP']=0
ENEM.loc[ENEM['EDU_MAE']==1, 'EDU_MAE_TEMP']=0
ENEM.loc[ENEM['EDU_MAE']==2, 'EDU_MAE_TEMP']=1
ENEM.loc[ENEM['EDU_MAE']==3, 'EDU_MAE_TEMP']=2
ENEM.loc[ENEM['EDU_MAE']==4, 'EDU_MAE_TEMP']=3
ENEM.loc[ENEM['EDU_MAE']==5, 'EDU_MAE_TEMP']=4
ENEM.loc[ENEM['EDU_MAE']==6, 'EDU_MAE_TEMP']=5
ENEM.loc[ENEM['EDU_MAE']==7, 'EDU_MAE_TEMP']=0



ENEM.loc[ENEM['QT_PESSOAS_CASA']==1, 'QT_PESSOAS_CASA_TEMP']=0
ENEM.loc[ENEM['QT_PESSOAS_CASA']==2, 'QT_PESSOAS_CASA_TEMP']=1
ENEM.loc[ENEM['QT_PESSOAS_CASA']==3, 'QT_PESSOAS_CASA_TEMP']=1
ENEM.loc[ENEM['QT_PESSOAS_CASA']==4, 'QT_PESSOAS_CASA_TEMP']=2
ENEM.loc[ENEM['QT_PESSOAS_CASA']==5, 'QT_PESSOAS_CASA_TEMP']=2
ENEM.loc[ENEM['QT_PESSOAS_CASA']==6, 'QT_PESSOAS_CASA_TEMP']=2
ENEM.loc[ENEM['QT_PESSOAS_CASA']==7, 'QT_PESSOAS_CASA_TEMP']=2
ENEM.loc[ENEM['QT_PESSOAS_CASA']>7, 'QT_PESSOAS_CASA_TEMP']=3

ENEM.loc[ENEM['RENDA_MENSAL']==0, 'RENDA_MENSAL_TEMP']=0
ENEM.loc[ENEM['RENDA_MENSAL']==1, 'RENDA_MENSAL_TEMP']=1
ENEM.loc[ENEM['RENDA_MENSAL']==2, 'RENDA_MENSAL_TEMP']=2
ENEM.loc[ENEM['RENDA_MENSAL']==3, 'RENDA_MENSAL_TEMP']=2
ENEM.loc[(ENEM['RENDA_MENSAL']>3) & (ENEM['RENDA_MENSAL']<8), 'RENDA_MENSAL_TEMP']=3
ENEM.loc[(ENEM['RENDA_MENSAL']>7) & (ENEM['RENDA_MENSAL']<13), 'RENDA_MENSAL_TEMP']=4
ENEM.loc[ENEM['RENDA_MENSAL']>12, 'RENDA_MENSAL_TEMP']=5

In [198]:
#back to original columns
ENEM['EDU_PAI'] = ENEM['EDU_PAI_TEMP']
ENEM['EDU_MAE'] = ENEM['EDU_MAE_TEMP']
ENEM['QT_PESSOAS_CASA'] = ENEM['QT_PESSOAS_CASA_TEMP']
ENEM['RENDA_MENSAL'] = ENEM['RENDA_MENSAL_TEMP']

In [199]:
#drop temps

ENEM.drop(['EDU_PAI_TEMP', 'EDU_MAE_TEMP', 'QT_PESSOAS_CASA_TEMP','RENDA_MENSAL_TEMP'], axis=1, inplace=True)

In [200]:
print('total students considered:',ENEM.shape[0])

total students considered: 929240

CENSUS - SCHOOL

In [201]:
#Taking only schools present at ALL DATABASES
C_SCHOOL = C_SCHOOL.loc[(C_SCHOOL.CO_ESCOLA.isin(ENEM.CO_ESCOLA)) & (C_SCHOOL.CO_ESCOLA.isin(C_CLASS.CO_ESCOLA)) &
                                                        (C_SCHOOL.CO_ESCOLA.isin(C_TEACHER.CO_ESCOLA))]
C_SCHOOL.isnull().sum().to_frame().T

,CO_ESCOLA,CO_MUNICIPIO,CO_UF,CO_DEPENDENCIA_ADM,IN_AGUA_INEXISTENTE,IN_ESGOTO_INEXISTENTE,IN_ENERGIA_INEXISTENTE,IN_LABORATORIO_INFORMATICA,IN_LABORATORIO_CIENCIAS,IN_SALA_ATENDIMENTO_ESPECIAL,IN_BIBLIOTECA,IN_SALA_LEITURA,IN_BANHEIRO,IN_BANHEIRO_PNE,QT_SALAS_UTILIZADAS,QT_EQUIP_TV,QT_EQUIP_DVD,QT_EQUIP_COPIADORA,QT_EQUIP_IMPRESSORA,QT_COMP_ALUNO,IN_INTERNET,IN_BANDA_LARGA,QT_FUNCIONARIOS,IN_ALIMENTACAO,IN_COMUM_MEDIO_MEDIO,IN_COMUM_MEDIO_INTEGRADO,IN_COMUM_MEDIO_NORMAL,IN_SALA_PROFESSOR,IN_COZINHA,IN_EQUIP_PARABOLICA,IN_QUADRA_ESPORTES,IN_ATIV_COMPLEMENTAR
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,419,0,0,0,0,0,0,0,0,0,0

In [202]:
#Every null does not have Internet.. So, trLet's fill with zero
print(C_SCHOOL.loc[C_SCHOOL.IN_BANDA_LARGA.isnull()]['IN_INTERNET'].value_counts())
C_SCHOOL.IN_BANDA_LARGA.fillna(0, inplace = True)

0.0    419
Name: IN_INTERNET, dtype: int64

CENSUS - CLASS

In [203]:
C_CLASS = C_CLASS.loc[(C_CLASS.CO_ESCOLA.isin(C_SCHOOL.CO_ESCOLA))]
C_CLASS.isnull().sum().to_frame().T

   CO_ESCOLA  CO_TURMA  CO_MOD_ENSINO  IN_ETAPA_ENSINO  QT_MATRICULAS
0          0         0              0                0              0

CENSUS - TEACHER

In [204]:
C_TEACHER = C_TEACHER.drop_duplicates(['CO_PROFESSOR', 'CO_ESCOLA']) # We have multiple teachers for school due classes. It is importante just one record
C_TEACHER = C_TEACHER.loc[(C_TEACHER.CO_ESCOLA.isin(C_SCHOOL.CO_ESCOLA))]
C_TEACHER.isnull().sum().to_frame().T

,CO_PROFESSOR,CO_ESCOLA,CO_TURMA,IN_ESPECIALIZACAO,IN_MESTRADO,IN_DOUTORADO,ID_QUIMICA,ID_FISICA,ID_MATEMATICA,ID_BIOLOGIA,ID_SOCIOLOGIA,ID_LINGUA_LITERAT_PORTUGUESA,ID_LINGUA_LITERAT_INGLES,ID_LINGUA_LITERAT_ESPANHOL,ID_ARTES,ID_EDUCACAO_FISICA,ID_HISTORIA,ID_GEOGRAFIA,ID_FILOSOFIA,CO_AREA_OCDE_1,ID_LICENCIATURA_1,CO_AREA_OCDE_2,ID_LICENCIATURA_2,CO_AREA_OCDE_3,ID_LICENCIATURA_3
0,0,0,0,66593,66593,66593,189988,189988,104415,189988,189988,104415,104415,104415,104415,104415,104415,104415,104415,37162,0,760751,0,811673,0

In [205]:
C_TEACHER.fillna(0, inplace = True)
print('total teachers considered:',C_TEACHER.shape[0])

total teachers considered: 817227

### New Features

ENEM

In [206]:
#Final Media, Target
ENEM['NU_NOTA_GERAL'] = (ENEM.NU_NOTA_CN + ENEM.NU_NOTA_CH + ENEM.NU_NOTA_LC + ENEM.NU_NOTA_MT + ENEM.NU_NOTA_REDACAO)/5

TEACHER CENSUS

In [207]:
C_TEACHER['TITULACAO'] = 0

C_TEACHER.loc[(C_TEACHER.IN_ESPECIALIZACAO==0.0) & (C_TEACHER.IN_MESTRADO==0.0)& 
             (C_TEACHER.IN_DOUTORADO ==0.0), 'TITULACAO'] = 0

C_TEACHER.loc[(C_TEACHER.IN_ESPECIALIZACAO==1.0) & (C_TEACHER.IN_MESTRADO==0.0)& 
             (C_TEACHER.IN_DOUTORADO ==0.0), 'TITULACAO'] = 1

C_TEACHER.loc[(C_TEACHER.IN_ESPECIALIZACAO==1.0) & (C_TEACHER.IN_MESTRADO==1.0)& 
             (C_TEACHER.IN_DOUTORADO ==0.0), 'TITULACAO'] = 2

C_TEACHER.loc[(C_TEACHER.IN_ESPECIALIZACAO==0.0) & (C_TEACHER.IN_MESTRADO==1.0)& 
             (C_TEACHER.IN_DOUTORADO ==0.0), 'TITULACAO'] = 2

C_TEACHER.loc[(C_TEACHER.IN_DOUTORADO ==1.0), 'TITULACAO'] = 3

#Rebuild level education information as indicator of unique level.
C_TEACHER['NU_GRADUACAO'] = 0
C_TEACHER['NU_ESPECIALIZACAO'] = 0
C_TEACHER['NU_MESTRADO'] = 0
C_TEACHER['NU_DOUTORADO'] = 0

C_TEACHER.loc[C_TEACHER.TITULACAO == 0, 'NU_GRADUACAO']= 1
C_TEACHER.loc[C_TEACHER.TITULACAO == 1, 'NU_ESPECIALIZACAO']= 1
C_TEACHER.loc[C_TEACHER.TITULACAO == 2, 'NU_MESTRADO']= 1
C_TEACHER.loc[C_TEACHER.TITULACAO == 3, 'NU_DOUTORADO']= 1


C_TEACHER['NU_GRADUACAO'] = C_TEACHER.groupby('CO_ESCOLA')['NU_GRADUACAO'].transform(sum)
C_TEACHER['NU_ESPECIALIZACAO'] = C_TEACHER.groupby('CO_ESCOLA')['NU_ESPECIALIZACAO'].transform(sum)
C_TEACHER['NU_MESTRADO'] = C_TEACHER.groupby('CO_ESCOLA')['NU_MESTRADO'].transform(sum)
C_TEACHER['NU_DOUTORADO'] = C_TEACHER.groupby('CO_ESCOLA')['NU_DOUTORADO'].transform(sum)



#Calculating weighted indice of teacher education
SUM= C_TEACHER.groupby('CO_ESCOLA')['TITULACAO'].transform(sum)
COUNT =  C_TEACHER.groupby('CO_ESCOLA')['TITULACAO'].transform('count')
C_TEACHER['TITULACAO'] = (SUM)/(COUNT*3)

In [208]:
#In order to avoid count duplicates teacher who teachs in both subjects. Since the required training is the same
C_TEACHER['ID_LINGUA_ESTRANGEIRA']=0
C_TEACHER.loc[((C_TEACHER.ID_LINGUA_LITERAT_ESPANHOL==1)|
               (C_TEACHER.ID_LINGUA_LITERAT_INGLES==1)),'ID_LINGUA_ESTRANGEIRA']=1  

#In order to avoid count duplicates teacher who teachs in both subjects. Since we consindering as the same subject
C_TEACHER['ID_FISIO_SOCIO']=0
C_TEACHER.loc[((C_TEACHER.ID_FILOSOFIA==1)|(C_TEACHER.ID_SOCIOLOGIA==1)),'ID_FISIO_SOCIO']=1

C_TEACHER['OUTROS'] = 0
curr_teaching = ['ID_MATEMATICA', 'ID_FISICA', 'ID_QUIMICA', 'ID_HISTORIA', 'ID_BIOLOGIA', 'ID_GEOGRAFIA', 
            'ID_LINGUA_LITERAT_PORTUGUESA', 'ID_LINGUA_ESTRANGEIRA','ID_FISIO_SOCIO', 'ID_ARTES', 
            'ID_EDUCACAO_FISICA', 'OUTROS']

#C_TEACHER[curr_teaching].fillna(0, inplace=True)
C_TEACHER.loc[(C_TEACHER[curr_teaching]==0).all(axis=1), 'OUTROS'] =1

#Take out teacher who do not taught in subjects related of ENEM and secondary education
C_TEACHER = C_TEACHER.loc[C_TEACHER.OUTROS==0]
##

In [209]:
# How many teacher for each knowlodege area?

ciencias_humanas = ['ID_HISTORIA', 'ID_GEOGRAFIA','ID_FILOSOFIA', 'ID_SOCIOLOGIA']
linguagens_codigos = ['ID_LINGUA_LITERAT_PORTUGUESA', 'ID_LINGUA_LITERAT_ESPANHOL',
                      'ID_LINGUA_LITERAT_INGLES', 'ID_ARTES', 'ID_EDUCACAO_FISICA']
matematica = ['ID_MATEMATICA']
ciencias_natureza = ['ID_FISICA', 'ID_QUIMICA', 'ID_BIOLOGIA']

teste=['ID_MATEMATICA','ID_FISICA']


###
values = np.sum(C_TEACHER[ciencias_natureza].values == 1,1)
print('cn',sum(values>1)/sum(values>=1))
C_TEACHER['NU_CIENCIA_NATUREZA'] = [1 if x >= 1 else 0 for x in values]
C_TEACHER['NU_CIENCIA_NATUREZA']= C_TEACHER.groupby('CO_ESCOLA')['NU_CIENCIA_NATUREZA'].transform(sum)

values = np.sum(C_TEACHER[ciencias_humanas].values == 1,1)
print('ch',sum(values>1)/sum(values>=1))
C_TEACHER['NU_CIENCIAS_HUMANAS'] = [1 if x >= 1 else 0 for x in values]
C_TEACHER['NU_CIENCIAS_HUMANAS']= C_TEACHER.groupby('CO_ESCOLA')['NU_CIENCIAS_HUMANAS'].transform(sum)

values = np.sum(C_TEACHER[linguagens_codigos].values == 1,1)
print('lc',sum(values>1)/sum(values>=1))
C_TEACHER['NU_LINGUAGENS_CODIGOS'] = [1 if x >= 1 else 0 for x in values]
C_TEACHER['NU_LINGUAGENS_CODIGOS']= C_TEACHER.groupby('CO_ESCOLA')['NU_LINGUAGENS_CODIGOS'].transform(sum)

values = np.sum(C_TEACHER[teste].values == 1,1)
print('mt',sum(values>1)/sum(values>=1))
C_TEACHER['NU_MATEMATICA']= C_TEACHER.groupby('CO_ESCOLA')['ID_MATEMATICA'].transform(sum)

#Sum all domain teacher's number
C_TEACHER['NU_TEACHERS_DOMAIN'] = C_TEACHER['NU_MATEMATICA']+ C_TEACHER['NU_LINGUAGENS_CODIGOS']+C_TEACHER[
    'NU_CIENCIAS_HUMANAS']+ C_TEACHER['NU_CIENCIA_NATUREZA']

#update domain teacher's number normalized
C_TEACHER['NU_MATEMATICA']=C_TEACHER['NU_MATEMATICA']/C_TEACHER['NU_TEACHERS_DOMAIN']
C_TEACHER['NU_LINGUAGENS_CODIGOS'] = C_TEACHER['NU_LINGUAGENS_CODIGOS']/C_TEACHER['NU_TEACHERS_DOMAIN']
C_TEACHER['NU_CIENCIAS_HUMANAS'] = C_TEACHER['NU_CIENCIAS_HUMANAS']/C_TEACHER['NU_TEACHERS_DOMAIN']
C_TEACHER['NU_CIENCIA_NATUREZA'] = C_TEACHER['NU_CIENCIA_NATUREZA']/C_TEACHER['NU_TEACHERS_DOMAIN']

cn 0.0415762014323212
ch 0.3039811300644599
lc 0.12890045765369804
mt 0.01834873039560095

In [215]:
sum(C_TEACHER.groupby('CO_ESCOLA')['ID_FISICA'].sum()>0)/len(C_TEACHER.groupby('CO_ESCOLA')['ID_FISICA'].sum()>0)

0.8340204685453751

In [165]:
#Number of different schools that teachers work 
C_TEACHER['NU_ESCOLAS'] = C_TEACHER.groupby('CO_PROFESSOR')['CO_ESCOLA'].transform('count')
C_TEACHER['NU_ESCOLAS'] = C_TEACHER.groupby('CO_ESCOLA')['NU_ESCOLAS'].transform('mean')
#Number of licensed teachers
C_TEACHER['NU_LICENCIADOS']=C_TEACHER.groupby('CO_ESCOLA')['ID_LICENCIATURA_1'].transform(sum)
C_TEACHER['NU_TEACHERS']=C_TEACHER.groupby('CO_ESCOLA')['ID_LICENCIATURA_1'].transform('count')
C_TEACHER['NU_LICENCIADOS']=C_TEACHER['NU_LICENCIADOS']/C_TEACHER['NU_TEACHERS']

In [166]:
# How about the adequate background rate of teachers
FOR_HISTORIA = ['145F11', '225H01']
FOR_GEOGRAFIA = ['145F10', '443G04']
FOR_FISIO_SOCIO = ['226999','145F08', '312999', '145F24']
FOR_ARTES = ['210A01', '146D01']
#FOR_CIENCIAS_HUMANAS = [FOR_HISTORIA, FOR_GEOGRAFIA, FOR_FILOS_SOCIO]
##
FOR_LING_PORTUGUES = ['145F15','145F16', '220P01', '220L03', '220L01']
FOR_LING_ESTRANGEIRA = ['145F16','220E01', '220L03', '145F13']
FOR_EDUCACAO_FISICA = ['720E01']
##
FOR_MATEMATICA = ['461M01','145F18']
##
FOR_BIOLOGIA = ['145F01', '421B02']
FOR_QUIMICA = ['442Q01','421B09', '524999', '145F21']
FOR_FISICA = ['145F09', '421B01','441F01']
#FOR_CIENCIAS_NATUREZA = [biologia, quimica, fisica]
###
C_TEACHER['FOR_MATEMATICA']=0
C_TEACHER['FOR_FISICA']=0
C_TEACHER['FOR_QUIMICA']=0
C_TEACHER['FOR_HISTORIA']=0
C_TEACHER['FOR_BIOLOGIA']=0
C_TEACHER['FOR_GEOGRAFIA']=0
C_TEACHER['FOR_LING_PORTUGUES']=0
C_TEACHER['FOR_LING_ESTRANGEIRA']=0
C_TEACHER['FOR_FISIO_SOCIO']=0
C_TEACHER['FOR_ARTES']=0
C_TEACHER['FOR_EDUCACAO_FISICA']=0

### Set 1 for those who teaches and have adequate training for that
C_TEACHER.loc[(C_TEACHER.ID_MATEMATICA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_MATEMATICA))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_MATEMATICA))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_MATEMATICA))), 'FOR_MATEMATICA'] = 1

C_TEACHER.loc[(C_TEACHER.ID_FISICA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_FISICA))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_FISICA))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_FISICA))), 'FOR_FISICA'] = 1

C_TEACHER.loc[(C_TEACHER.ID_QUIMICA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_QUIMICA))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_QUIMICA))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_HISTORIA))), 'FOR_QUIMICA'] = 1

C_TEACHER.loc[(C_TEACHER.ID_HISTORIA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_HISTORIA))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_HISTORIA))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_HISTORIA))), 'FOR_HISTORIA'] = 1

C_TEACHER.loc[(C_TEACHER.ID_BIOLOGIA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_BIOLOGIA))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_BIOLOGIA))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_BIOLOGIA))), 'FOR_BIOLOGIA'] = 1

C_TEACHER.loc[(C_TEACHER.ID_GEOGRAFIA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_GEOGRAFIA))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_GEOGRAFIA))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_GEOGRAFIA))), 'FOR_GEOGRAFIA'] = 1

C_TEACHER.loc[(C_TEACHER.ID_LINGUA_LITERAT_PORTUGUESA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_LING_PORTUGUES))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_LING_PORTUGUES))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_LING_PORTUGUES))), 'FOR_LING_PORTUGUES'] = 1

C_TEACHER.loc[(C_TEACHER.ID_LINGUA_ESTRANGEIRA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_LING_ESTRANGEIRA))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_LING_ESTRANGEIRA))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_LING_ESTRANGEIRA))), 'FOR_LING_ESTRANGEIRA'] = 1   

               
C_TEACHER.loc[((C_TEACHER.ID_FILOSOFIA==1)|(C_TEACHER.ID_SOCIOLOGIA==1)) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_FISIO_SOCIO))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_FISIO_SOCIO))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_FISIO_SOCIO))), 'FOR_FISIO_SOCIO'] = 1   
                                                   
C_TEACHER.loc[(C_TEACHER.ID_ARTES==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_ARTES))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_ARTES))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_ARTES))), 'FOR_ARTES'] = 1  

C_TEACHER.loc[(C_TEACHER.ID_EDUCACAO_FISICA==1) & ((C_TEACHER.CO_AREA_OCDE_1.isin(FOR_EDUCACAO_FISICA))|
              (C_TEACHER.CO_AREA_OCDE_2.isin(FOR_EDUCACAO_FISICA))|
             (C_TEACHER.CO_AREA_OCDE_3.isin(FOR_EDUCACAO_FISICA))), 'FOR_EDUCACAO_FISICA'] = 1

In [167]:
#Computing sum of teachers with adequate training for each school
adequate_training = ['FOR_MATEMATICA','FOR_FISICA','FOR_QUIMICA','FOR_HISTORIA','FOR_BIOLOGIA','FOR_GEOGRAFIA',
 'FOR_LING_PORTUGUES','FOR_LING_ESTRANGEIRA','FOR_FISIO_SOCIO','FOR_ARTES', 'FOR_EDUCACAO_FISICA']

for i in adequate_training:
    C_TEACHER[i] = C_TEACHER.groupby('CO_ESCOLA')[i].transform(sum)
    
#Computing sum of current classes taught, whatever if they have training
for i in curr_teaching: #defined earlier
    C_TEACHER[i] =  C_TEACHER.groupby('CO_ESCOLA')[i].transform(sum) 
    
#School Grain
C_TEACHER.drop_duplicates('CO_ESCOLA', inplace = True)

In [168]:
# Computing the rate of adequate training ((number of current with adequate training + Number those w/o traininig*0.5)/total) for each area)

C_TEACHER['IN_FOR_MAT'] = (C_TEACHER['FOR_MATEMATICA']+ (
    (C_TEACHER['ID_MATEMATICA'] - C_TEACHER['FOR_MATEMATICA'])*0.5))/C_TEACHER['ID_MATEMATICA']

C_TEACHER['IN_FOR_FIS'] = (C_TEACHER['FOR_FISICA']+ (
    (C_TEACHER['ID_FISICA'] - C_TEACHER['FOR_FISICA'])*0.5))/C_TEACHER['ID_FISICA']

C_TEACHER['IN_FOR_QUI'] = (C_TEACHER['FOR_QUIMICA']+ (
    (C_TEACHER['ID_QUIMICA'] - C_TEACHER['FOR_QUIMICA'])*0.5))/C_TEACHER['ID_QUIMICA']

C_TEACHER['IN_FOR_HIST'] = (C_TEACHER['FOR_HISTORIA']+ (
    (C_TEACHER['ID_HISTORIA'] - C_TEACHER['FOR_HISTORIA'])*0.5))/C_TEACHER['ID_HISTORIA']

C_TEACHER['IN_FOR_BIO'] = (C_TEACHER['FOR_BIOLOGIA']+ (
    (C_TEACHER['ID_BIOLOGIA'] - C_TEACHER['FOR_BIOLOGIA'])*0.5))/C_TEACHER['ID_BIOLOGIA']

C_TEACHER['IN_FOR_GEO'] = (C_TEACHER['FOR_GEOGRAFIA']+ (
    (C_TEACHER['ID_GEOGRAFIA'] - C_TEACHER['FOR_GEOGRAFIA'])*0.5))/C_TEACHER['ID_GEOGRAFIA']

C_TEACHER['IN_FOR_PORT'] = (C_TEACHER['FOR_LING_PORTUGUES']+ (
    (C_TEACHER['ID_LINGUA_LITERAT_PORTUGUESA'] - C_TEACHER['FOR_LING_PORTUGUES'])*0.5))/C_TEACHER['ID_LINGUA_LITERAT_PORTUGUESA']

C_TEACHER['IN_FOR_EST'] = (C_TEACHER['FOR_LING_ESTRANGEIRA']+ (
    (C_TEACHER['ID_LINGUA_ESTRANGEIRA'] - C_TEACHER['FOR_LING_ESTRANGEIRA'])*0.5))/C_TEACHER['ID_LINGUA_ESTRANGEIRA']

C_TEACHER['IN_FOR_FISIO_SOCIO'] = (C_TEACHER['FOR_FISIO_SOCIO']+ (
    (C_TEACHER['ID_FISIO_SOCIO'] - C_TEACHER['FOR_FISIO_SOCIO'])*0.5))/C_TEACHER['ID_FISIO_SOCIO']

C_TEACHER['IN_FOR_ARTES'] = (C_TEACHER['FOR_ARTES']+ (
    (C_TEACHER['ID_ARTES'] - C_TEACHER['FOR_ARTES'])*0.5))/C_TEACHER['ID_ARTES']

C_TEACHER['IN_FOR_ED_FISICA'] = (C_TEACHER['FOR_EDUCACAO_FISICA']+ (
    (C_TEACHER['ID_EDUCACAO_FISICA'] - C_TEACHER['FOR_EDUCACAO_FISICA'])*0.5))/C_TEACHER['ID_EDUCACAO_FISICA']

In [169]:
#Computing a new index for each school = Teacher Adequate Training
COLUMNS = C_TEACHER.filter(regex=("^IN_FOR_*")).columns
C_TEACHER.fillna({x:0 for x in COLUMNS}, inplace=True)
C_TEACHER['IN_FORM_DOCENTE']=C_TEACHER.filter(regex=("^IN_FOR_*")).sum(axis=1)/11

#Drop indices from each subject
#C_TEACHER.drop(COLUMNS, axis=1, inplace = True)

In [170]:
#drop all subjects and others that are no longer needed
C_TEACHER.drop(C_TEACHER.filter(regex=('^ID_*')).columns, axis=1, inplace = True)
others = ['CO_PROFESSOR','CO_TURMA', 'CO_AREA_OCDE_1','CO_AREA_OCDE_2', 'CO_AREA_OCDE_3','OUTROS',
          'IN_ESPECIALIZACAO', 'IN_MESTRADO', 'IN_DOUTORADO']
#C_TEACHER.drop(others, axis=1, inplace = True)
C_TEACHER.columns

Index(['CO_PROFESSOR', 'CO_ESCOLA', 'CO_TURMA', 'IN_ESPECIALIZACAO',
       'IN_MESTRADO', 'IN_DOUTORADO', 'CO_AREA_OCDE_1', 'CO_AREA_OCDE_2',
       'CO_AREA_OCDE_3', 'TITULACAO', 'NU_GRADUACAO', 'NU_ESPECIALIZACAO',
       'NU_MESTRADO', 'NU_DOUTORADO', 'OUTROS', 'NU_CIENCIA_NATUREZA',
       'NU_CIENCIAS_HUMANAS', 'NU_LINGUAGENS_CODIGOS', 'NU_MATEMATICA',
       'NU_TEACHERS_DOMAIN', 'NU_ESCOLAS', 'NU_LICENCIADOS', 'NU_TEACHERS',
       'FOR_MATEMATICA', 'FOR_FISICA', 'FOR_QUIMICA', 'FOR_HISTORIA',
       'FOR_BIOLOGIA', 'FOR_GEOGRAFIA', 'FOR_LING_PORTUGUES',
       'FOR_LING_ESTRANGEIRA', 'FOR_FISIO_SOCIO', 'FOR_ARTES',
       'FOR_EDUCACAO_FISICA', 'IN_FOR_MAT', 'IN_FOR_FIS', 'IN_FOR_QUI',
       'IN_FOR_HIST', 'IN_FOR_BIO', 'IN_FOR_GEO', 'IN_FOR_PORT', 'IN_FOR_EST',
       'IN_FOR_FISIO_SOCIO', 'IN_FOR_ARTES', 'IN_FOR_ED_FISICA',
       'IN_FORM_DOCENTE'],
      dtype='object')

In [171]:
C_TEACHER.shape

(20617, 46)

In [179]:
(C_TEACHER[['NU_FISICA']]==0).sum()

KeyError: "None of [Index(['NU_FISICA'], dtype='object')] are in the [columns]"

In [45]:
#JUSTS NUMBER OF ENROLLMENTS OF SCHOOLS
C_CLASS = C_CLASS[['CO_ESCOLA', 'QT_MATRICULAS']]
C_CLASS['QT_MATRICULAS'] = C_CLASS.groupby('CO_ESCOLA').transform('mean')
C_CLASS.drop_duplicates('CO_ESCOLA', inplace = True)

## STUDENT GRAIN

In [46]:
# Merging Class and School
print('School',C_SCHOOL.shape)
CENSO = pd.merge(C_SCHOOL, C_CLASS, on = 'CO_ESCOLA', how = 'inner')
print('Class + School:', CENSO.shape[0])
# Next, merging with Teacher
CENSO = pd.merge(CENSO, C_TEACHER, on = 'CO_ESCOLA', how = 'inner')
print('School + Class + Teacher(taked off subject teachers out of context)',CENSO.shape)

School (20621, 32)
Class + School: 20621
School + Class + Teacher(taked off subject teachers out of context) (20617, 78)

In [47]:
#Now, all to Student Grain
print('ENEM',ENEM.shape)
ENEM_CENSO = pd.merge(ENEM, CENSO, on = 'CO_ESCOLA', how = 'inner')
print('FINAL (taked off schools with subject teachers out of context))',ENEM_CENSO.shape)

ENEM_CENSO.to_csv('STUDENT.csv')

ENEM (929240, 16)
FINAL (taked off schools with subject teachers out of context)) (920310, 93)